@font-face {
  font-family: gilroyBlack;
  src: url(../../fonts/gilroyBlack.woff) format("webopen"),
    url(../../fonts/gilroyBlack.ttf) format("truetype"),
    url(../../fonts/gilroyBlack.eoteot?#iefix) format("embedded-opentype");
}
@font-face {
  font-family: gilroyMedium;
  src: url(../../fonts/gilroyMedium.woff) format("webopen"),
    url(../../fonts/gilroyMedium.ttf) format("truetype"),
    url(../../fonts/gilroyMedium.eoteot?#iefix) format("embedded-opentype");
}
@font-face {
  font-family: gilroyBold;
  src: url(../../fonts/gilroyBold.woff) format("webopen"),
    url(../../fonts/gilroyBold.ttf) format("truetype"),
    url(../../fonts/gilroyBold.eoteot?#iefix) format("embedded-opentype");
}
@font-face {
  font-family: gilroyExtraBoldItalic;
  src: url(../../fonts/gilroyExtraBoldItalic.woff) format("webopen"),
    url(../../fonts/gilroyExtraBoldItalic.ttf) format("truetype"),
    url(../../fonts/gilroyExtraBoldItalic.eoteot?#iefix)
      format("embedded-opentype");
}
@font-face {
  font-family: gilroyRegularItalic;
  src: url(../../fonts/gilroyRegularItalic.woff) format("webopen"),
    url(../../fonts/gilroyRegularItalic.ttf) format("truetype"),
    url(../../fonts/gilroyRegularItalic.eoteot?#iefix)
      format("embedded-opentype");
}
